body {
    background-color: white;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    color: #000000;
}

a:hover {
    color: #adadad;
}

header {
    background-color: #adadad;
    color: white;
    padding: 10px 20px;
}

nav {
    background-color: #8f8f8f;
    display: block;
    width: 100%;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding-inline-start: 10px;
}

nav ul li {
    display: inline-block;
    background-color: #707070;
    padding: 6px;
    border-radius: 2px;
    margin-left: 10px;
}

nav ul li a {
    padding: 6px;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}

section {
    background-color: white;
    border: 1px solid #adadad;
    padding: 20px;
}

aside {
    background-color: #adadad;
    color: #333333;
    padding: 10px;
    margin: 20px 0;
    float: right;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

#figura1 {
    width: 40%;
}